<!DOCTYPE html>
<html lang="es">
<head>
            <title>StressXOR</title>
            <style>
                body { font-family: Arial, sans-serif; text-align: center; margin-top: 50px; }
                .btn { padding: 15px 25px; font-size: 18px; margin: 20px; cursor: pointer; border: none; border-radius: 5px; background-color: #3498db; color: white; }
            </style>
        </head>
        <body>
            <h1><em>Stress</em><strong>XOR</strong></h1>
            <a href="/upload_page"><button class="btn">Subir Archivos</button></a>
            <a href="/predict_page"><button class="btn">Predecir Estrés</button></a>
        </body>
    </html>